@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  font-family: 'ubuntu', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #2f3234; }

a {
  color: inherit;
  text-decoration: none; }

sup,
sub {
  position: relative;
  vertical-align: baseline; }

h2 {
  text-transform: uppercase;
  font-family: 'gagalin';
  font-weight: 400;
  font-size: 72px; }

section {
  min-height: 650px;
  height: 100vh; }

ul {
  list-style: none; }

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

.btn {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #e45028;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }
  .btn:hover {
    background-color: #c1401e; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero {
  background-color: #131a1d;
  background: url("../img/bg_1_section.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__img {
  margin-top: 10px; }

.header__list {
  margin-left: auto;
  padding: 15px; }

.header__item {
  display: inline;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase; }
  .header__item::before {
    content: "•";
    padding: 15px;
    width: 5px;
    height: 5px; }
  .header__item .header__link:hover {
    text-decoration: underline; }
  .header__item:first-child::before {
    display: none; }

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.front--left {
  padding: 10px;
  margin-bottom: 70px; }

.front--right {
  padding-top: 55px; }

.front__title {
  color: #f9b43b; }

.front__desc {
  font-family: 'lifehack';
  font-weight: 400;
  font-size: 65px;
  color: #FFFFFF;
  letter-spacing: -2px; }

.arrow {
  margin-bottom: 40px;
  cursor: pointer; }

.container--best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best {
  background-color: #fef8f4;
  background: url("../img/bg_best.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

.best__title {
  color: #2f3234;
  font-size: 72px;
  margin-bottom: 50px; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 100%; }

.features__item {
  list-style: none;
  text-align: center;
  width: 300px;
  margin-right: 20px; }

.features__img {
  min-width: 95px;
  height: 95px;
  margin-bottom: 30px; }

.features__name {
  display: block;
  text-align: center;
  line-height: 28px;
  margin-bottom: 5px;
  font-family: "lifehack", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #2f3234; }

.features__desc {
  text-align: center;
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2f3234;
  line-height: 24px;
  margin-top: 10px; }

.slider {
  background: #f9b43b;
  background: -moz-linear-gradient(top, #f9b43b 16%, #eb8c38 50%, #eb8c38 51%, #f9b43b 100%);
  background: -webkit-linear-gradient(top, #f9b43b 16%, #eb8c38 50%, #eb8c38 51%, #f9b43b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #f9b43b), color-stop(50%, #eb8c38), color-stop(51%, #eb8c38), to(#f9b43b));
  background: -o-linear-gradient(top, #f9b43b 16%, #eb8c38 50%, #eb8c38 51%, #f9b43b 100%);
  background: linear-gradient(to bottom, #f9b43b 16%, #eb8c38 50%, #eb8c38 51%, #f9b43b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); }

.arrow--left {
  float: left;
  position: absolute; }

.arrow--right {
  float: right;
  position: absolute; }

.slider__wrapper {
  position: relative;
  max-width: 960px;
  width: 100%;
  overflow: hidden; }

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  will-change: right;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  position: relative; }

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 960px; }

.slider__content-right {
  margin-left: 20px; }

.content-right__title {
  color: #FFFFFF;
  line-height: 64px;
  margin-bottom: 50px; }

.content-right__text {
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'ubuntu', Arial, sans-serif;
  font-weight: 300;
  line-height: 24px; }

.order__price {
  font-size: 72px;
  color: #e35028;
  font-family: 'gagalin',Arial, sans-serif;
  font-weight: 400; }

.order__currency {
  font-size: 30px;
  color: #e35028;
  font-family: 'gagalin', Arial, sans-serif;
  font-weight: 400; }

.content-right__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.ingredients {
  width: 90px;
  height: 90px;
  background-color: #f08c33;
  border-radius: 5px;
  text-align: center;
  top: 0;
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .ingredients:hover {
    background-color: #e35028; }
  .ingredients:hover + .products {
    display: block; }

.ingredients__title {
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'gagalin', Arial, sans-serif;
  font-weight: 400; }

.ingredients__img {
  padding-top: 10px; }

.slider__img {
  padding-top: 70px;
  padding-bottom: 60px;
  max-width: 425px; }

.order__btn {
  margin-left: 30px; }

.calories {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: .5; }

.calories__title {
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'gagalin', Arial, sans-serif;
  font-weight: 400; }

.products {
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 270px;
  height: 333px;
  position: absolute;
  top: 0;
  left: 91px;
  opacity: .9;
  display: none; }

.products__content {
  width: 100%;
  height: 100%;
  padding: 20px; }

.products__name {
  color: #2f3234;
  font-size: 14px;
  font-family: 'ubuntu', Arial, sans-serif;
  font-weight: 500;
  line-height: 24px; }

.products__weight {
  color: #2f3234;
  font-size: 14px;
  font-family: 'ubuntu', Arial, sans-serif;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }

.slider__btn--next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -45px; }

.slider__btn--prev {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -45px; }

.slider__btn--next,
.slider__btn--prev {
  position: absolute;
  top: 50%;
  cursor: pointer; }

.reviews {
  background-color: #505050;
  background-size: cover; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.reviews__item {
  position: relative;
  list-style: none;
  height: 50vh;
  min-height: 325px;
  width: 25%;
  overflow: hidden; }
  .reviews__item:hover .reviews__img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .reviews__item:hover .reviews__box {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }

.reviews__img {
  min-width: 269px;
  height: 100%;
  width: 100%;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.reviews__box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s; }

.reviews__title {
  font-family: "gagalin",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 28px; }

.reviews__desc {
  font-family: "ubuntu",Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
  max-width: 230px;
  margin: 15px 0 15px; }

.reviews__btn {
  font-family: "ubuntu",Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 110px;
  height: 35px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2f3234;
  border: none;
  border-radius: 5px;
  cursor: pointer; }
  .reviews__btn:hover {
    background-color: #1f2122; }

.team {
  background-color: #fef8f4;
  background: url("../img/team_bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative; }

.team__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2f3234;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 49%;
  padding-left: 90px; }

.team__content {
  margin-top: 100px;
  width: 80%; }

.team__title {
  color: #f9b43b;
  margin-bottom: 20px; }

.acco__item {
  margin-bottom: 10px; }

.acco__name {
  font-family: 'gagalin', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 28.13px;
  cursor: pointer; }
  .acco__name::before {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    margin-right: 10px;
    display: inline-block;
    padding-bottom: 2px; }
  .acco__name--active {
    color: #f9b43b; }
    .acco__name--active::before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.acco__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  height: 0;
  overflow: hidden; }
  .acco__desc--active {
    height: 100%;
    overflow: auto; }

.acco__photo {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  height: 100px;
  width: 100px; }

.acco__info {
  max-width: 235px; }

.acco__occupation {
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 15px; }

.acco__text {
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF; }

.menu {
  background-color: #fef8f4;
  background: url("../img/menu_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

.menu__title {
  color: #FFFFFF;
  top: 10%;
  left: 10%;
  position: absolute; }

.menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

.menu__item {
  float: left;
  height: 100%; }

.menu__trigger {
  display: block;
  height: 100%;
  width: 80px;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }
  .menu__trigger--meat {
    background-image: url("../img/menu_meat.jpg"); }
  .menu__trigger--vegan {
    background-image: url("../img/menu_vegan.jpg"); }
  .menu__trigger--diet {
    background-image: url("../img/menu_diet.jpg"); }

.menu__trigger-text {
  font-size: 40px;
  color: #fff;
  font-family: 'gagalin';
  font-weight: 400;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center;
  white-space: nowrap;
  width: 650px;
  height: 80px;
  position: absolute;
  left: -275px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 40%; }

.menu__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  overflow: hidden;
  width: 550px; }

.menu__text {
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  padding: 60px 30px;
  width: 550px;
  line-height: 1.8; }

.menu__content {
  display: none; }

.form {
  background-color: #252525;
  background: url("../img/form_bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative; }

.container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form__title {
  color: #f9b43b;
  text-align: center; }

.form__col {
  float: left;
  width: 45%;
  margin-left: 5%; }

.form__row {
  margin-bottom: 16px; }
  .form__row--double {
    margin-left: -20px; }

.form__row--double .form__block {
  float: left;
  width: calc(100% / 2 - 20px);
  margin-left: 20px; }

.form__row--four .form__block {
  float: left;
  width: calc(100% / 4 - 20px);
  margin-left: 20px; }

.form__block {
  display: block; }

.form__label {
  margin-bottom: 17px;
  font-family: "ubuntu";
  font-weight: 300;
  color: #FFFFFF;
  font-size: 14px; }

.form__input {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  width: 100%; }

.form__input--textarea {
  height: 110px; }

.form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.form__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px; }

.form__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .form__radio-fake::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #e35028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.form__radio-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin-left: 10px; }

.form__radio--checkbox .form__radio-fake {
  border-radius: 0px; }

.form__btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  border: 0;
  background: #e35028;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer; }
  .form__btn--reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent; }

.map {
  background-color: #aacbd9; }

.map__google {
  position: relative;
  overflow: hidden;
  height: calc(100% - 60px);
  background: url("../img/map_bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center; }

.footer {
  background: url("../img/footer.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60px;
  min-width: 100%;
  position: absolute;
  bottom: 0; }

.footer__left {
  float: left;
  width: 50%;
  margin-top: 10px; }

.footer__address {
  font-size: 14px;
  color: #FFFFFF; }

.footer__phone {
  font-size: 14px;
  color: #e45028;
  font-weight: 700;
  margin-top: 5px; }
  .footer__phone::before {
    content: "";
    display: inline-block;
    background: url("../img/icons/phone.svg") no-repeat;
    width: 12px;
    height: 12px;
    float: left;
    margin: 2px 6px 0 0; }

.footer__right {
  text-align: right;
  width: 50%;
  margin-top: 20px;
  float: right; }

.socials__item {
  display: inline-block;
  margin-left: 20px; }

.socials__text {
  display: none; }

.socials__img {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .socials__img:hover {
    opacity: 1; }

.fixed-menu {
  position: fixed;
  top: 90px;
  right: 60px; }

.fixed-menu__item {
  height: 6px;
  width: 6px;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  list-style: none;
  margin: 15px;
  position: relative;
  cursor: pointer; }
  .fixed-menu__item::before {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    background: transparent; }

.fixed-menu__item--active:before {
  visibility: visible; }
