@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

a {
  color: inherit;
  text-decoration: none; }

sup,
sub {
  position: relative;
  vertical-align: baseline; }

h2 {
  text-transform: uppercase;
  font-family: 'gagalin';
  font-weight: 400;
  font-size: 72px; }

section {
  min-height: 650px;
  height: 100vh; }

ul {
  list-style: none; }

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero {
  background-color: #131a1d;
  background: url("../img/bg_1_section.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__img {
  margin-top: 10px; }

.header__list {
  margin-left: auto;
  padding: 15px; }

.header__item {
  display: inline;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase; }
  .header__item::before {
    content: "•";
    padding: 15px;
    width: 5px;
    height: 5px; }
  .header__item .header__link:hover {
    text-decoration: underline; }
  .header__item:first-child::before {
    display: none; }

.header__btn {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #e45028;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  cursor: pointer; }
  .header__btn:hover {
    background-color: #c1401e; }

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.front--left {
  padding: 10px;
  margin-bottom: 70px; }

.front--right {
  padding-top: 55px; }

.front__title {
  color: #f9b43b;
  margin-bottom: 20px; }

.front__desc {
  font-family: 'lifehack';
  font-weight: 400;
  font-size: 65px;
  color: #FFFFFF;
  letter-spacing: -2px; }

.arrow {
  margin-bottom: 40px;
  cursor: pointer; }

.container--best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best {
  background-color: #fef8f4;
  background: url("../img/bg_best.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

.best__title {
  color: #2f3234;
  font-size: 72px;
  margin-bottom: 50px; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 100%; }

.features__item {
  list-style: none;
  text-align: center;
  width: 300px;
  margin-right: 20px; }

.features__img {
  min-width: 95px;
  height: 95px;
  margin-bottom: 30px; }

.features__name {
  display: block;
  text-align: center;
  line-height: 28px;
  margin-bottom: 5px;
  font-family: "lifehack", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #2f3234; }

.features__desc {
  text-align: center;
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2f3234;
  line-height: 24px;
  margin-top: 10px; }

.reviews {
  background-color: #505050;
  background-size: cover; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.reviews__item {
  position: relative;
  list-style: none;
  height: 50vh;
  min-height: 325px;
  width: 25%;
  overflow: hidden; }
  .reviews__item:hover .reviews__img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .reviews__item:hover .reviews__box {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }

.reviews__img {
  min-width: 269px;
  height: 100%;
  width: 100%;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.reviews__box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s; }

.reviews__title {
  font-family: "gagalin",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 28px; }

.reviews__desc {
  font-family: "ubuntu",Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 24px;
  max-width: 230px;
  margin: 15px 0 15px; }

.reviews__btn {
  font-family: "ubuntu",Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 110px;
  height: 35px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2f3234;
  border: none;
  border-radius: 5px;
  cursor: pointer; }
  .reviews__btn:hover {
    background-color: #1f2122; }

.team {
  background-color: #fef8f4;
  background: url("../img/team_bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative; }

.team__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2f3234;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 49%;
  padding-left: 90px; }

.team__content {
  margin-top: 100px;
  width: 80%; }

.team__title {
  color: #f9b43b;
  margin-bottom: 50px; }

.acco__item {
  margin-bottom: 35px; }

.acco__name {
  font-family: 'gagalin', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 28.13px;
  cursor: pointer; }
  .acco__name::before {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    margin-right: 10px;
    display: inline-block;
    padding-bottom: 2px; }
  .acco__name--active {
    color: #f9b43b; }
    .acco__name--active::before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.acco__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  height: 0;
  overflow: hidden; }
  .acco__desc--active {
    height: 100%;
    overflow: auto; }

.acco__photo {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px; }

.acco__img {
  width: 100%;
  height: 100%;
  text-align: center; }

.acco__info {
  padding-top: 12px;
  max-width: 235px; }

.acco__occupation {
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 15px; }

.acco__text {
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF; }

.fixed-menu {
  position: fixed;
  top: 90px;
  right: 60px; }

.fixed-menu__item {
  height: 6px;
  width: 6px;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  list-style: none;
  margin: 15px;
  position: relative;
  cursor: pointer; }
  .fixed-menu__item::before {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    background: transparent; }

.fixed-menu__item--active:before {
  visibility: visible; }
