.fixed-menu {
    position: fixed;
    top: 90px;
    right: 60px;
}

.fixed-menu__item {
    height: 6px;
    width: 6px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    list-style: none;
    margin: 15px;
}

