.slider {
    background: rgb(249,180,59);
background: -moz-linear-gradient(top, rgba(249,180,59,1) 16%, rgba(235,140,56,1) 50%, rgba(235,140,56,1) 51%, rgba(249,180,59,1) 100%);
background: -webkit-linear-gradient(top, rgba(249,180,59,1) 16%,rgba(235,140,56,1) 50%,rgba(235,140,56,1) 51%,rgba(249,180,59,1) 100%);
background: linear-gradient(to bottom, rgba(249,180,59,1) 16%,rgba(235,140,56,1) 50%,rgba(235,140,56,1) 51%,rgba(249,180,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
}

.arrow--left {
    float: left;
    position: absolute;
}

.arrow--right {
    float: right;
    position: absolute;
}

.slider__wrapper {
    position: relative;
    width: 950px;
    overflow: hidden;
}

.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

.content-right__title {
    color: #FFFFFF;
    line-height: 64px;
    margin-bottom: 50px;
}

.content-right__text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'ubuntu', Arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.order__price {
    font-size: 72px;
    color: #e35028;
    font-family: 'gagalin',Arial, sans-serif;
    font-weight: 400;
}

.order__currency {
    font-size: 30px;
    color: #e35028;
    font-family: 'gagalin', Arial, sans-serif;
    font-weight: 400;
}

.content-right__order {
    display: flex;
    align-items: baseline;
}

.ingredients {
    width: 90px;
    height: 90px;
    background-color: #f08c33;
    border-radius: 5px;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
}

.ingredients__title {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'gagalin', Arial, sans-serif;
    font-weight: 400;
}

.ingredients__img {
    padding-top: 10px;
}

.slider__img {
    padding-top: 70px;
    padding-bottom: 60px;
}

.order__btn {
    margin-left: 30px;
}

.calories {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: .2;
}

.calories__title {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'gagalin', Arial, sans-serif;
    font-weight: 400;
}