.slider {
    background: rgb(249,180,59);
background: -moz-linear-gradient(top, rgba(249,180,59,1) 16%, rgba(235,140,56,1) 50%, rgba(235,140,56,1) 51%, rgba(249,180,59,1) 100%);
background: -webkit-linear-gradient(top, rgba(249,180,59,1) 16%,rgba(235,140,56,1) 50%,rgba(235,140,56,1) 51%,rgba(249,180,59,1) 100%);
background: linear-gradient(to bottom, rgba(249,180,59,1) 16%,rgba(235,140,56,1) 50%,rgba(235,140,56,1) 51%,rgba(249,180,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
}

.arrow--left {
    float: left;
    position: absolute;
}

.arrow--right {
    float: right;
    position: absolute;
}

.slider__wrapper {
    position: relative;
    max-width: 960px;
    width: 100%;
    overflow: hidden;
}

.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    will-change: right;
    transition: right 0.3s;
    position: relative;
}

.slider__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

.content-right__title {
    color: #FFFFFF;
    line-height: 64px;
    margin-bottom: 50px;
}

.content-right__text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'ubuntu', Arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.order__price {
    font-size: 72px;
    color: #e35028;
    font-family: 'gagalin',Arial, sans-serif;
    font-weight: 400;
}

.order__currency {
    font-size: 30px;
    color: #e35028;
    font-family: 'gagalin', Arial, sans-serif;
    font-weight: 400;
}

.content-right__order {
    display: flex;
    align-items: baseline;
}

.ingredients {
    width: 90px;
    height: 90px;
    background-color: #f08c33;
    border-radius: 5px;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #e35028;
    }
    &:hover + .products {
        display: block;
    }
}

.ingredients__title {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'gagalin', Arial, sans-serif;
    font-weight: 400;
}

.ingredients__img {
    padding-top: 10px;
}

.slider__img {
    padding-top: 70px;
    padding-bottom: 60px;
    max-width: 425px;
}

.order__btn {
    margin-left: 30px;
}

.calories {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: .2;
}

.calories__title {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'gagalin', Arial, sans-serif;
    font-weight: 400;
}

.products {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 270px;
    height: 333px;
    position: absolute;
    top: 0;
    left: 91px;
    opacity: .9;
    display: none;
}

.products__content {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.products__name {
    color: #2f3234;
    font-size: 14px;
    font-family: 'ubuntu', Arial, sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.products__weight {
    color: #2f3234;
    font-size: 14px;
    font-family: 'ubuntu', Arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.slider__btn--next {
    transform: rotate(-90deg);
    right: -45px;
}

.slider__btn--prev {
    transform: rotate(90deg);
    left: -45px;
}

.slider__btn--next,
.slider__btn--prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
